.contenedor-carrito
  width: 70px
  height: 70px
  display: flex
  align-items: center
  justify-content: center
  background: #fff
  border-radius: 50%
  cursor: pointer
  .carrito__cantidad
    width: 20px
    font-size: 12px
    background: red
    padding: 5px
    border-radius: 5px
    text-align: center
    color:#fff
    display: flex
    justify-content: center
    align-items: center
    margin-left: 8px

.header__carrito
  width: 30px