.producto-card-detail
    width: 350px
    height: 680px 
    background: #471055
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    p
        font-size: 12px
        padding: 10px
        text-align: center
    img
        width: 280px
    .card-titulo, .card-valor
        font-size: 15px
        font-weight: bold