.contador
    width: 200px
    height: 200px
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column
    background: rgb(114, 113, 113)
    border-radius: 10px
    margin: 35px
    h2
        height: 30px
        width: 100%
        text-align: center
        margin: 10px 0
        color: #fff
    .botones
        display: flex
        justify-content: center
        align-items: center
        input, button
            width: 35px
            height: 35px
        button
            border: none
            background: rgb(37, 10, 135)
            color: #fff
            cursor: pointer
            &:hover
                background: rgb(25, 7, 89)
            
        
