.producto-card
    width: 200px
    height: 250px
    background: #e80033
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 20px
    border-radius: 5px
    cursor: pointer
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75)
    &:hover
        background: #bf0d3e
    p
        margin: 3px
        font-size: 20px
        color: #fff
    img
        width: 150px
        height: 150px
        margin-top: 20px
