@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #c9c9c9;
}

.header-contenedor {
  width: 100%;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdbb30;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header a {
  text-decoration: none;
}

.header__titulo {
  color: #fff;
}

.header__menu {
  list-style: none;
  display: flex;
}

.header__menu li {
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}

.header__menu li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.header__menu li a:hover {
  color: #949494;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-carrito {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.contenedor-carrito .carrito__cantidad {
  width: 20px;
  font-size: 12px;
  background: red;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.header__carrito {
  width: 30px;
}

.contenedor-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  background: #c9c9c9;
}

.contador {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.contador .botones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contador .botones input, .contador .botones button {
  width: 35px;
  height: 35px;
}
.contador .botones button {
  border: none;
  background: #e80033;
  color: #fff;
  cursor: pointer;
}
.contador .botones button:hover {
  background: #bf0d3e;
}

.lista-productos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lista-productos h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.producto-card {
  width: 230px;
  height: 300px;
  background: #e80033;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.producto-card:hover {
  background: #bf0d3e;
}
.producto-card p {
  margin: 10px 3px 3px 3px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.producto-card img {
  width: 180px;
  height: 180px;
  margin-top: 20px;
}

.producto-card-detail {
  width: 90%;
  height: 100%;
  background: #ed8b00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  margin-top: 25px;
}
.producto-card-detail .producto-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.producto-card-detail .producto-info p {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
.producto-card-detail .producto-info .card-titulo, .producto-card-detail .producto-info .card-valor {
  font-size: 30px;
  font-weight: bold;
}
.producto-card-detail img {
  width: 280px;
  margin-right: 30px;
}

.btn-confirmar {
  width: 200px;
  border: none;
  background: #e80033;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
.btn-confirmar:hover {
  background: #bf0d3e;
}

.btn-agregar {
  width: 200px;
  border: none;
  background: #910048;
  margin: 20px;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
.btn-agregar:hover {
  background: #d0006f;
}

.lista-productos-detail {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.lista-productos-detail h2 {
  width: 100%;
  text-align: center;
}

.lista-productos-detail h2 {
  margin: 20px;
  font-size: 30px;
}

.card-Platforms {
  width: 380px;
  height: 200px;
  background: #e80033;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  padding: 10px;
}
.card-Platforms:hover {
  background: #bf0d3e;
}
.card-Platforms p {
  margin: 5px;
  font-size: 16px;
  color: #fff;
}
.card-Platforms p span {
  font-weight: bold;
}

.lista-productos-detail h2 {
  margin: 20px;
  font-size: 30px;
}

.card-Genres {
  width: 250px;
  height: 100px;
  background: #e80033;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  padding: 10px;
}
.card-Genres:hover {
  background: #bf0d3e;
}
.card-Genres p {
  margin: 5px;
  font-size: 16px;
  color: #fff;
}
.card-Genres p span {
  font-weight: bold;
}

.lista-productos-detail h2 {
  margin: 20px;
  font-size: 30px;
}

.card-Directors {
  width: 250px;
  height: 100px;
  background: #e80033;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  padding: 10px;
}
.card-Directors:hover {
  background: #bf0d3e;
}
.card-Directors p {
  margin: 5px;
  font-size: 16px;
  color: #fff;
}
.card-Directors p span {
  font-weight: bold;
}

.paginacion {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginacion input, .paginacion button {
  width: 65px;
  height: 35px;
}
.paginacion button {
  border: none;
  background: #e80033;
  color: #fff;
  cursor: pointer;
}
.paginacion button:hover {
  background: #bf0d3e;
}

.contenedor-cart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}
.contenedor-cart .cart-card {
  width: 80%;
  height: 100px;
  background: #910048;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 25px 0;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.75);
}
.contenedor-cart .cart-card .card-description {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor-cart .cart-card input {
  background: #f15d22;
  border: none;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
}
.contenedor-cart .cart-card input:hover {
  background: #ed8b00;
}
.contenedor-cart .cart-total {
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 35px;
  font-weight: bold;
}
.contenedor-cart .btn-eliminar-todo {
  width: 200px;
  border: none;
  background: #4d4d4d;
  padding: 20px;
  margin: 15px 10px;
  color: #fff;
  cursor: pointer;
}
.contenedor-cart .btn-eliminar-todo:hover {
  background: #292929;
}

.form-compra {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-compra .input-form {
  width: 50%;
}
.form-compra .input-form input {
  width: 100%;
  margin: 10px;
  padding: 12px;
  border: none;
}
.form-compra .btn-comprar {
  width: 200px;
  margin: 15px 10px;
  border: none;
  background: #e80033;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
.form-compra .btn-comprar:hover {
  background: #bf0d3e;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdbb30;
  color: #fff;
  font-size: 21px;
}

/*# sourceMappingURL=main.css.map */
